.mobile-div{
    display: -ms-inline-flexbox;
    border: 1px solid rgb(221, 216, 216);
    margin: 20px;
    width: 230px;
    height: 280px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}
.mobile-div:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.mobile-img{
    margin-top: 5px ;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 180px;
}
.mobile-name{
    color: #434343;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.mobile-name:hover{
    color: rgb(34, 221, 112);
}

.mobile-price{
    color: red;
    font-weight: bold;
    margin-left : auto;
     margin-right : auto;
}
.mobile-price::after{
    content: " đ ";
}

.mobile-img:hover{
    transition: transform 300ms ease-in;
    transform: scale(1);
}
